@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: #f5ddbef7 ;
  color: #042A2B;
  text-align: center;
  // margin-top: 15px;
}
///CARD STUFF
.card-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-basis: 1;
}

.card {
  min-height: 16rem;
  width: 25rem;
  resize: horizontal;
  margin: 6px;
  background-color: #f2f2f2;
  border-radius: 5%;

}
.card-desc {
  height: 125px;
  text-align: left;
  overflow: auto;
}
.trash{
  color: #D84727;
  margin-left: 5px;
  border: 2px, solid, #D84727;
  border-radius: 10%;
  padding: 4px;

}
.edit{
color: #5EB1BF;
margin-right: 5px;
border: 2px, solid, #5EB1BF;
border-radius: 10%;
padding: 4px;
}
//// CARD 

//FORM STUFF
.form-div{
  width: 60%;
  background-color: #f2f2f2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

form .input{
  background-color: #f2f2f2;
}
.cancel{
  margin: 6px;
  background-color:#D84727;
  border-color: #D84727;
}
.edit-submit{
  margin: 6px;
  background-color: #5EB1BF;
  border-color: #5EB1BF;
}

/// FORM


// NAV-STUFF
.nav-cont{
  border: solid black 1px;
  background-color: #C0D6DF ;
}
.bg-dark{
  background-color: #f2f2f2!important;
}
.nav-link{
  color: black!important;
}
.navBtn{
  background-color: grey!important;
  color: black!important;
}
.vocab-you{
  margin-left: 4px;
  color: #DD6E42!important;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
}
.signOutBtn{
  background-color: #D84727;
}
.searchBar{
  margin: 6px;
}
///NAV

//SORT STUFF
.dropdown-menu{
  min-width: 92px;
}
.sortBtn{
  background-color: #f2f2f2;
  color: black;
}
///SORT
